
*{
    margin:0;
}

button{   /*Color scheme */
    background-color: rgba(255, 228, 196, 0.014);
    border: none;
    display: grid;



}

body{
    background-color: white;
}


header{
    background-color: rgba(103, 13, 155, 0.685);
    height: 60%;
    width: 100%;
    padding: 4rem;
    left: 0;
    bottom: 0;
}

h4{
    padding: 10%;
    font-size: larger;

}

article > h1{
text-align: center ;
font-size: 150px
}


.hidden{
    visibility: hidden;
}

#intro{
    margin-top: 100px;
    margin-bottom: 100px;
}


section {
    max-width: 900px;
    margin: 10rem auto;
    padding: 2rem;
    text-align: center;
}

section.logo{
    width: 70px;
    height:70px;
    margin:0;
}
section > h2 {
    margin: 0;
    margin-bottom: 2rem;
    font-size: clamp(2.4rem, 6vw, 3.8rem);
    text-align: center;
    margin-top: 0.5em;
    font-family: var(--title-font);
    font-weight: normal;
    letter-spacing: -1px;

}

.presentation{
background-color: rgb(243, 247, 247);
border-radius: 10%;
}


section > a {
    display: inline-block;
    padding: 0.5rem 0.8rem;
}

#projets{
    background-color: rgb(162, 53, 177, 0.295);
    border-radius: 10%;
    margin: 0 auto;
    padding: 2rem;

}

#projets .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
    gap: 20px; /* Espace entre les cartes */
    justify-content: center; /* Centrer la grille */
    
}



.card{
    background-color: #f9f9f9; /* Couleur de fond de la carte */
    border: 1px solid #ddd; /* Bordure de la carte */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre de la carte */
    padding: 16px; /* Padding à l'intérieur de la carte */
    text-align: center; /* Centrer le texte à l'intérieur de la carte */
   
}


.card p{
    margin: 0; /* Pas de marge autour du texte */
    font-size: 16px; /* Taille du texte */
    font-weight: bold; /* Mettre le texte en gras */
}


.card img{
    max-width: 100%; /* S'assurer que l'image ne dépasse pas la largeur de la carte */
    height: auto; /* Garder le ratio de l'image */
    margin-bottom: 8px; /* Marge en dessous de l'image */
}

.skills-container {
    display: flex;
    justify-content: space-around; /* Uniform spacing around elements */
    align-items: center; /* Center elements vertically */
    flex-wrap: wrap; /* Allow wrapping if necessary */
    margin-bottom: 10%;
}



.grid.projet{
    display: grid;
    /* flex-direction: row; */
    /* justify-content: center; */
    grid-template-columns: 60px 60px;
    margin: 70px;
    
    
}

.projet{
    display: grid;
    border-radius: 10%;
    /* grid-template-rows: auto; */
    /* background-color: rgba(162, 53, 177, 0.295); */
    background-color: red;
    /* color : white; */
    box-shadow: 5px 3px 2px rgb(53, 41, 65);


}


#skills{
    background-color: rgba(162, 53, 177, 0.295);
    border-radius: 10%;
    
}

/* Centrer .grid-front sous <h3>FRONT END</h3> */
.grid-competences {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    flex-direction: column; /* Aligner les éléments enfants en colonne */
   }
   

  .grid-savoir-etre{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Align children in a column */

  } 
  
   /* Styles pour les sections contenant les logos */
   .logos {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les logos horizontalement */
    margin: 5px; /* Espacement entre les logos */
   }
   




#contact{
    /* background-color: deeppink; */
}

.linkBtn {
    /* color: var(--accent-color); */
    color : white;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--subtitle-font);
    text-decoration: none;
    background-color: rgb(103, 13, 155, 0.685);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    /* display: flex; */
}

.arrow-icon {
    font-size: 24px; /* Taille de l'icône */
    color: #333; /* Couleur de l'icône */
    /* background-color: white; */
    animation: arrowUp 1s infinite; /* animation avec la fonction arrowUp, dure 1 seconde, et se répète indéfiniment */
}

@keyframes arrowUp {
    0% {
        transform: translateY(0); /* translation initiale */
    }
    50% {
        transform: translateY(-5px); /* translation vers le haut */
    }
    100% {
        transform: translateY(0); /* retour à la position initiale */
    }
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    left: 0;
    /* padding: 1rem 1rem 2rem; */

}

footer>a {
    width: 4rem;
    height: 4rem;
    padding: 2em;
    margin-left: 0;
    display: flex;
    box-sizing: border-box;
    transition: .5s all;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: rgba(103, 13, 155, 0.685);
}